.header{
	background-color: #0066a1;
}
.aside{
  background-color: #204056;
}

.content{
  background-color: #c0c0c8;
}

.lines{
    border: 7px solid white;
}

.Footer{
	background-color: #0066a1;
}

.formulario{
	background-color: #BDBDBD;
}

.formFlot{
  padding: 3em 0em;
  text-align: center;
}
}

.DivPrin{
  padding: 20px 44px 20px;
}
.DivSec{
  margin: 0 auto 25px;
  padding: 20px 25px 30px;
}
.userLogo{
  width: 96px;
  height: 96px; 
}
.buton{
  background-color: orange;
}
.buton:hover{
  background-color: gray;
}
/*PAra formularios estilachos chidos liros :v*/
  input:required:invalid, input:focus:invalid {
    /*background-image: url(/images/invalid.png);
    background-position: right top;
    background-repeat: no-repeat;*/
    background-color: #F5A9A9;
  }
  input:required:valid {
    /*background-image: url(/images/valid.png);
    background-position: right top;
    background-repeat: no-repeat;*/
    background-color: #BCF5A9;
  }

  @media (max-width: 990px){
    #Logo{
      display: none;

    }
  }