.header{
	background-color: #0066a1;
}
.aside{
  background-color: #204056;
}

.content{
  background-color: #c0c0c8;
}

.lines{
    border: 7px solid white;
}

.Footer{
	background-color: #0066a1;
}

.formulario{
	background-color: #a5a9ab;
  text-align: center;
}


.DivPrin{
  padding: 20px 44px 20px;
}
.DivSec{
  margin: 0 auto 25px;
  padding: 20px 25px 30px;
}
.userLogo{
  width: 96px;
  height: 96px; 
}
.buton{
  background-color: orange;
  overflow: hidden;
}
.buton:hover{
  background-color: gray;
}
.Warning
{
  color: #f00;
  display: none;
}
.Valuer{
  display:block;
  padding-top: 2.5em;
  padding-bottom: 0em;
}

  @media (max-width: 990px){/*SIRVE PARA LOS HORARIOS DE */
    #Logo{
      display: none;
    }
    .Valuer{
      padding-top: 0.5em;
    }

  }
    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {

    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
      .aside{
        min-height: 500px;
      }
      section .content{
        min-height: 500px;
      }
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
      #Logo{
      display: none;
    }
      .aside{
        min-height: 500px;
      }
      section .content{
        min-height: 500px;
      }
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
      .aside{
        min-height: 600px;
      }
      section .content{
        min-height: 600px;
    }
    }

textarea{
  resize:none;
}

.logo{
  width: 100px;
  height: 80px;
}
