.header{
	background-color: #013ADF;
}

.aside{
	background-color: #FF4000;
}

.content{
	background-color: #BDBDBD;
}

.colorFooter{
	background-color: #58FAF4;
}

.formulario{
	background-color: #BDBDBD;
}
#formReg{
	background-color: #086A87;
  padding: 40px 40px;
	height: 400px;
	width: 300px;
  text-align: center;
  margin: 0% 44%;
}

.DivPrin{
  padding: 20px 44px 20px;
}
.DivSec{
  margin: 0 auto 25px;
  padding: 20px 25px 30px;
}
.userLogo{
  width: 96px;
  height: 96px; 
}
.buton{
  background-color: orange;
}
.buton:hover{
  background-color: gray;
}
/*PAra formularios estilachos chidos liros :v*/
  input:required:invalid, input:focus:invalid {
    /*background-image: url(/images/invalid.png);
    background-position: right top;
    background-repeat: no-repeat;*/
    background-color: #F5A9A9;
  }
  input:required:valid {
    /*background-image: url(/images/valid.png);
    background-position: right top;
    background-repeat: no-repeat;*/
    background-color: #BCF5A9;
  }

  @media (max-width: 990px){
    #Logo{
      display: none;

    }
  }